option_settings:
  # Temporarily disabled until SSL certificate is configured
  # aws:elbv2:listener:443:
  #   ListenerEnabled: true
  #   Protocol: HTTPS
  #   SSLCertificateArns: arn:aws:acm:us-west-2:123456789012:certificate/12345678-1234-1234-1234-123456789012
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application 