option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:loadbalancer:
    AccessLogsS3Enabled: false
    ManagedSecurityGroup: 
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
  # Temporarily disabled until SSL certificate is configured
  # aws:elbv2:listener:443:
  #   ListenerEnabled: true
  #   Protocol: HTTPS
  #   SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01 