option_settings:
  aws:elbv2:loadbalancer:
    LoadBalancerType: application
    SecurityGroups: default
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:us-west-2:YOUR_ACCOUNT_ID:certificate/YOUR_CERTIFICATE_ID"
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application 